* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Geist, ui-monospace, SFMono-Regular, Menlo, Courier New, monospace;
}

input, label {
    padding: 10px;
}

.fahr, .cels, .feels {
    margin: 10px;
}
